@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color-primary: #7216EC;
$gray-text: #707382;
$gray-text-bgprimary: #D1B6F7;

*{
  margin: 0;
  padding: 0;
}
body{
  background: $color-primary;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2{
  color: black;
  font-size: 1.7em;
  margin-bottom: 15px;
}
.btn{
  padding: 12px;
  font-weight: 500;
}
.btn-primary{
  background: $color-primary;
  border: 0px;
  &:hover,
  &:focus,
  &:active{
    background: $color-primary;
  }
}
.btn-secondary{
  background: white;
  border: 0px white;
  color: $color-primary;
  &:hover,
  &:focus,
  &:active{
    background: white !important; 
    border: 0px;
    color: $color-primary;
    box-shadow: 0 0 0 0.2rem white !important;
  }
}
.btn-white{
  background: white;
  border: 0px;
  color: $color-primary;
  &:hover,
  &:focus,
  &:active{
    background: white;
    color: $color-primary;
  }
}

.form{
  background: url('../img/img-01.svg') no-repeat 50% 40%;
  padding-top: 300px;
  position: relative;
  height: 100%;
  &-bg{
    background: white;
    border-radius: 25px 25px 0 0;
    padding: 25px 25px 0px 25px;
    color: $gray-text;
    position: fixed;
    bottom: 0;;

  }
  .input-block {
    label{
      font-size: .9em;
      margin-bottom: 2px;
    }
  }
}
.btn-action{
  margin-top: 30px;
  a, button{
    display: block;
    margin: 10px 0;
    width: 100%;
  }
}
.onboarding,
.how{
  color: white;
  h2{
    color: white;
    margin-top: 35px;
  }
  p{
    color: $gray-text-bgprimary;
    font-size: 1.04em;
  }
}
.how{
  .emoji{
    font-size: 3em;
    margin-top: 25px;
  }
  h2{
    margin-top: 0px;
  }
  
  .number{
    position: relative;
    text-align: center;
  }
  .n{
    background: #5EEDC7;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 1.2em;
    padding-top: 3px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  }
  .title{
    font-size: 1.4em;
    font-weight: 500;
  }
  .steps{
    margin-top: 30px;
    p{
      margin-bottom: 30px;
    } 
  }
  .n:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 2px dashed rgba(162,108,238,.8); 
    margin-left: -5px;
  }
  .n.no:after{
    border-left: 2px dashed rgba(162,108,238,0) !important; 
  }
  .btn-action{
    margin-top: 0;
  }
}
